@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="padding-top:20px;">@ViewData["Title"]</h1>

<p>
<hr><br>
Your privacy is important to us. This privacy statement explains the personal data NotForza processes, how NotForza processes it, and for what purposes.
NotForza offers a wide range of products, including server products used to help operate enterprises worldwide, devices you use in your home, software that students use at school, and services developers use to create and host what’s next. References to NotForza products in this statement include NotForza services, websites, apps, software, servers, and devices.
Please read the product-specific details in this privacy statement, which provide additional relevant information. This statement applies to the interactions NotForza has with you and the NotForza products listed below, as well as other NotForza products that display this statement.
Young people may prefer starting with the Privacy for young people page. That page highlights information that may be helpful for young people.
<br><br><br>
<b>Personal data we collect</b>
<br><br>
NotForza collects data from you, through our interactions with you and through our products. You provide some of this data directly, and we get some of it by collecting data about your interactions, use, and experiences with our products. The data we collect depends on the context of your interactions with NotForza and the choices you make, including your privacy settings and the products and features you use. We also obtain data about you from third parties.
If you represent an organisation, such as a business or school, that utilises Enterprise and Developer Products from NotForza, please see the Enterprise and developer products section of this privacy statement to learn how we process your data. If you are an end user of a NotForza product or a NotForza account provided by your organisation, please see the Products provided by your organisation and the NotForza account sections for more information.
You have choices when it comes to the technology you use and the data you share. When we ask you to provide personal data, you can decline. Many of our products require some personal data to provide you with a service. If you choose not to provide data required to provide you with a product or feature, you cannot use that product or feature. Likewise, where we need to collect personal data by law or to enter into or carry out a contract with you, and you do not provide the data, we will not be able to enter into the contract; or if this relates to an existing product you are using, we may have to suspend or cancel it. We will notify you if this is the case at the time. Where providing the data is optional, and you choose not to share personal data, features like personalisation that use such data will not work for you.
<br><br><br>
<b>How we use personal data</b>
<br><br>
NotForza uses the data we collect to provide you with rich, interactive experiences. In particular, we use data to:
Provide our products, which includes updating, securing, and troubleshooting, as well as providing support. It also includes sharing data, when it is required to provide the service or carry out the transactions you request.
Improve and develop our products.
Personalise our products and make recommendations.
Advertise and market to you, which includes sending promotional communications, targeting advertising, and presenting you with relevant offers.
We also use the data to operate our business, which includes analysing our performance, meeting our legal obligations, developing our workforce, and doing research.
In carrying out these purposes, we combine data we collect from different contexts (for example, from your use of two NotForza products) or obtain from third parties to give you a more seamless, consistent, and personalised experience, to make informed business decisions, and for other legitimate purposes.
Our processing of personal data for these purposes includes both automated and manual (human) methods of processing. Our automated methods often are related to and supported by our manual methods. For example, to build, train, and improve the accuracy of our automated methods of processing (including artificial intelligence or AI), we manually review some of the output produced by the automated methods against the underlying data.
<br><br><br>
<b>Reasons we share personal data</b>
<br><br>
We share your personal data with your consent or to complete any transaction or provide any product you have requested or authorised. We also share data with NotForza-controlled affiliates and subsidiaries; with vendors working on our behalf; when required by law or to respond to legal process; to protect our customers; to protect lives; to maintain the security of our products; and to protect the rights and property of NotForza and its customers.
How to access and control your personal data
You can also make choices about the collection and use of your data by NotForza. You can control your personal data that NotForza has obtained, and exercise your data protection rights, by contacting NotForza or using various tools we provide. In some cases, your ability to access or control your personal data will be limited, as required or permitted by applicable law. How you can access or control your personal data will also depend on which products you use. For example, you can:
Control the use of your data for personalised advertising from NotForza by visiting our opt-out page.
Choose whether you wish to receive promotional emails, SMS messages, telephone calls and postal mail from NotForza.
Access and clear some of your data through the NotForza privacy dashboard.
Not all personal data processed by NotForza can be accessed or controlled via the tools above. If you want to access or control personal data processed by NotForza that is not available via the tools above or directly through the NotForza products you use, you can always contact NotForza at the address in the How to contact us section or by using our web form.
</p>
